
input[type=range]{
    width:100%;
    max-width: calc(100% - 132px);
    display:inline-block;
    margin: 0;
    vertical-align: middle;    
}


input[type='range']:focus {
    outline: none;
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-top: -9px;

    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.27);
}

input[type=range]::-moz-range-thumb {
    width: 24px;
    height: 24px;
    border-radius: 50%;

    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.27);
}

input[type=range]::-ms-thumb {
    width: 24px;
    height: 24px;
    border-radius: 50%;

    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.27);  
}

input[type=range]::-webkit-slider-runnable-track {
    border-radius: 100px;
    height: 8px;
    background:linear-gradient(to right, #1091cc calc(var(--value)*1%), #d8d8d8 0);
}

input[type=range]::-moz-range-track {
    border-radius: 100px;
    height: 8px;
    background:linear-gradient(to right, #1091cc calc(var(--value)*1%), #d8d8d8 0);
}

input[type=range]::-ms-track {
    border-radius: 100px;
    height: 8px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.27);

} 

input[type=range]::-ms-fill-lower {
    background-color: #1091cc
}

input[type=range]::-ms-fill-upper {
    background-color: #d8d8d8;
} 