body {
  font-family: "Helvetica Neue Light";
  letter-spacing: 0.05em;
  margin: 0;
}


.Category-v2---calculator {
  width: 100%;
  margin: 0 auto;
}

.H2-blue {
  /*width: 654.9px;*/
  height: 30px;
  font-family: "Helvetica 53 Extended";
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  text-align: left;
  color: #005175;
  margin-left: 20px;
  margin-right: 20px;
}

.Rectangle-container {
    margin-right: 10px;
    margin-left: 10px;
}

.Rectangle-6 {
  height: 1px;
  background-color: #cacaca;
  margin-bottom: 28px;
  margin-left: 20px;
  margin-right: 20px;  
}

.Rectangle-35 {
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.1);
  padding: 34px 20px 34px 20px;
  display: inline-block;
}

.col1{
  margin-bottom: 25px; 
}

.Change-values-to-cal {
  /*width: 391px;*/
  height: 24px;
  font-family: "Helvetica 53 Extended";
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.3px;
  text-align: left;
  color: #3e3d3f;
  margin: 0;
  margin-bottom: 10.5px;
}

.Line {
  width: 100%;
  height: 1px;
  background-color: #cbcbcb;
  margin-bottom: 35.5px;
}

.Years-of-mortgage {
  /*width: 127px;*/
  height: 17px;
  font-family: "Helvetica 67 Medium Condensed";
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: 0.2px;
  text-align: left;
  color: #3e3d3f;
}

.Rate-of-interest {
  /*width: 133px;*/
  height: 17px;
  font-family: "Helvetica 67 Medium Condensed";
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: 0.2px;
  text-align: left;
  color: #3e3d3f;
}

.Loan-Amount {
  /*width: 92px;*/
  height: 17px;
  font-family: "Helvetica 67 Medium Condensed";
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: 0.2px;
  text-align: left;
  color: #3e3d3f;
  padding-bottom: 5px;
}

.Annual-Tax {
  /*width: 75px;*/
  height: 17px;
  font-family: "Helvetica 67 Medium Condensed";
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: 0.2px;
  text-align: left;
  color: #3e3d3f;
  padding-bottom: 5px;
}

.Annual-Insurance {
  /*width: 120px;*/
  height: 17px;
  font-family: "Helvetica 67 Medium Condensed";
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: 0.2px;
  text-align: left;
  color: #3e3d3f;
  padding-bottom: 5px;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary {
  color: #fff;
  background-color: #0077c0;
  border-color: #0077c0;
  width: 100%;
  height: 45px;
  cursor: pointer;
}


.input-group-slider{
    line-height: 45px;  
}

.input-group-slider span {
    width: 30px;
    display: inline-block;
}

.field-slider-value{
  width: 60px;
  height: 45px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #cacaca;
  display: inline-block;
  text-align: center;
}

.field-normal {
  font-family: "Helvetica Neue Light";
  height: 43px;
  line-height: 43px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #a6a6a6;  
}

.field-normal:focus-within {
  box-shadow: 0 0 4px 0 rgba(62, 61, 63, 0.62);
  background-color: #ffffff;
  border: solid 1px #3e3d3f;
}


.field-normal .input-group-text {
  font-family: "Helvetica Neue Light";
  color: #3e3d3f;
  padding-left: 25px;
}

input{
  font-family: "Helvetica Neue Light";
  box-sizing: unset;
  outline: none !important;
  box-shadow: none !important;
  letter-spacing: 0.3px;

}

.field-normal input{
  height: 20px;
  line-height: 20px;
  color: #3e3d3f;
  font-size: 16px;
  border: 0;
  max-width: calc(100% - 40px);
}


.col2-1{
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 25px;
  width: calc(50% - 5px);
  vertical-align: top;
}

.col2-2{
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 25px;
  width: calc(50% - 5px);
  vertical-align: top;
}

#Rectangle-results {
  width: calc(100% - 40px);
  padding-left: 20px;
  padding-top: 36px;
  padding-right: 20px;
  padding-bottom: 29px;
  margin-bottom: 122px;
  background-color: #eaf6fa;
  position: relative;
  top: -10px;
  z-index: -1;  

  -moz-transition: -moz-transform .5s;
  -o-transition: -o-transform .5s;
  -webkit-transition: -webkit-transform .5s;
   -moz-transform-origin: top;
  -ms-transform-origin: top;
  -o-transform-origin: top;
  -webkit-transform-origin: top;
  transform-origin: top;
  transition: transform .5s;

}

#Rectangle-results.empty{
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}

#Rectangle-results .Your-results{
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  text-align: left;
  color: #3e3d3f;
  padding-bottom: 9px;
}

#Rectangle-results .result-title{
  padding-top: 20px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.14;
  text-align: left;
  color: #3e3d3f;  
}

#Rectangle-results .result-value{
  font-family: "Helvetica 67 Medium Condensed";
  letter-spacing: 0.05em;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  text-align: left;
  color: #3e3d3f;

}


#Rectangle-results.empty .result-value{
  opacity: 0.2;
}

#Rectangle-results .Line{
  margin-top: 20px; 
}

#Rectangle-results .total-result-title{
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  text-align: left;
  color: #3e3d3f;
}

#Rectangle-results .total-result-value{
  font-family: "Helvetica 67 Medium Condensed";
  letter-spacing: 0.05em;
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  text-align: left;
  color: #3e3d3f;
}

#Rectangle-results.empty .total-result-value{
  opacity: 0.2;
}

.error-message{
  display: none;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  text-align: left;
  color: #da3535;
}

.error .error-message{
  display: block;
}

.error .error-message-desktop{
  display: none;
}

.error .field-normal {
  border: solid 1px #da3535;  
}

.error .field-normal:focus-within {
  border: solid 1px #da3535;  
}

@media  only screen and (min-width: 768px) {
  .H2-blue {
    margin-left: 0;
    margin-right: 0;
  }

  .Rectangle-6 {
    margin-left: 0;
    margin-right: 0;  
  }


  .Category-v2---calculator {
    width: 900px;
    height: 700px;
    margin: 0 auto;
  }

  .Rectangle-35 {
    width: 470px;
    margin-left: 40px;
    padding: 34px 40px 34px 40px;
  }

  .Change-values-to-cal {
    font-size: 16px;
  }

  #Rectangle-results {
    width: 175px;
    padding-left: 66px;
    padding-top: 36px;
    padding-right: 40px;
    padding-bottom: 0;
    margin-bottom: 0;    
    height: 440px;
    left: -25px;
    vertical-align: top;
    top: 41px;
    display: inline-block;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    -webkit-transform: none;
    transform: none;

  }

  #Rectangle-results.empty{
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    -webkit-transform: none;
    transform: none;
  }


  .error .error-message{
    display: none;
  }

  .error .error-message-desktop{
    display: block;
  }


}